
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    
    /* Blau Corporatiu TS Serveis */
    --primary: 205 100% 30%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    /* Groc Accentuat */
    --accent: 45 100% 50%;
    --accent-foreground: 222 47% 11.2%;
    
    /* Vermell Corporatiu TS Serveis (#E31E24) */
    --destructive: 358 77% 50%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 205 100% 30%;
    --radius: 1.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}

@media print {
    .printable-area {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
    .break-inside-avoid {
        break-inside: avoid !important;
        page-break-inside: avoid !important;
    }
    table {
        break-inside: auto;
    }
    tr {
        break-inside: avoid !important;
        page-break-inside: avoid !important;
    }
    thead {
        display: table-header-group;
    }
    .no-print {
        display: none !important;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
